*.pdf
*.o
*.lo
*.m4
*.stamp
*.html
*.xml
*.output
*.bak
*.cache
*.log
*.status
*.in
.deps
.dirstamp
build-aux
Makefile
Doxyfile
stamp-h1
config.h
config.h.in~
authors.h
location.hh
position.hh
stack.hh
parsetiger.hh
parsetiger.cc
version.cc
prelude.cc
configure
run
libtool
