*.pdf
*.o
*.lo
*.m4
*.stamp
*.html
*.xml
*.output
*.bak
*.cache
*.log
*.status
*.in
*.la
.deps
.dirstamp
.libs
build-aux
tests
Makefile
Doxyfile
stamp-h1
config.h
config.h.in~
authors.h
location.hh
position.hh
stack.hh
parsetiger.hh
parsetiger.cc
scantiger.cc
version.cc
prelude.cc
configure
run
libtool
tc
